<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>WMTS Hintergrundkarten (basemap.at)</title>

    <!-- Leaflet -->
    <!-- leaflet.css als link-Element über https://cdnjs.com/libraries/leaflet einbinden -->
    <!-- leaflet.js als script-Element mit defer-Attribut über https://cdnjs.com/libraries/leaflet einbinden -->

    <!-- eigene Stile -->
    <link rel="stylesheet" href="main.css" />

    <!-- Hauptscript -->
    <script defer src="main.js"></script>
</head>

<body>
    <main>
        <header>
            <h2>WMTS Hintergrundkarten (<a href="https://basemap.at">basemap.at</a>)</h2>
            <nav>
                <a href="https://github.com/webmapping-oer">Webmapping OER Kurs</a> |
                <a href="https://github.com/webmapping-oer/wmts">WMTS-Session</a>
            </nav>
        </header>
        <article>
            <div id="map"></div>
        </article>
        <footer>
            <strong>Quellen: </strong>
            <cite><a href="https://webmapping-oer.github.io/wmts/material/template/index.html">HTML/CSS/Javascript Template WMTS Hintergrundkarten (basemap.at)</a> von <a href="mailto:klaus.foerster@uibk.ac.at">Klaus Förster</a> unter der Lizenz <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC-BY 4.0</a> via <a href="https://webmapping-oer.github.io/wmts/material/template-wmts.zip">template-wmts.zip</a>.</cite>
        </footer>
    </main>
</body>

</html>