<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>WMTS Hintergrundkarten (Österreich)</title>

    <!-- Leaflet -->
    <!-- leaflet.css als link-Element über https://cdnjs.com/libraries/leaflet einbinden -->
    <!-- leaflet.js als script-Element mit defer-Attribut über https://cdnjs.com/libraries/leaflet einbinden -->

    <!-- eigene Stile -->
    <link rel="stylesheet" href="main.css" />

    <!-- Hauptscript-->
    <script defer src="main.js"></script>
</head>

<body>
    <main>
        <header>
            <h2><a href="https://github.com/webmapping-oer/wmts">WMTS Hintergrundkarten (Österreich)</a></h2>
            <nav>
                <a href="https://github.com/webmapping-oer">Webmapping OER Kurs</a>
            </nav>
        </header>
        <article>
            <div id="map"></div>
        </article>
        <footer>
            <strong>Quellen: </strong>
            <nav>
                ...
            </nav>
        </footer>
    </main>
</body>

</html>